#root {
  width: 100%;
  display: block; 
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

/* .rti--container {
  border: 1px solid #dee2e6 !important;
  border-radius: 0.375rem !important;
  padding: 6px 12px !important;
}

.rti--tag {
  background-color: #e9ecef !important;
  color: #495057 !important;
  border-radius: 4px !important;
} */
